<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Yunisacare</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AdventPro-Black.ttf</string>
		<string>AdventPro-BlackItalic.ttf</string>
		<string>AdventPro-Bold.ttf</string>
		<string>AdventPro-BoldItalic.ttf</string>
		<string>AdventPro-ExtraBold.ttf</string>
		<string>AdventPro-ExtraBoldItalic.ttf</string>
		<string>AdventPro-ExtraLight.ttf</string>
		<string>AdventPro-ExtraLightItalic.ttf</string>
		<string>AdventPro-Italic.ttf</string>
		<string>AdventPro-Light.ttf</string>
		<string>AdventPro-LightItalic.ttf</string>
		<string>AdventPro-Medium.ttf</string>
		<string>AdventPro-MediumItalic.ttf</string>
		<string>AdventPro-Regular.ttf</string>
		<string>AdventPro-SemiBold.ttf</string>
		<string>AdventPro-SemiBoldItalic.ttf</string>
		<string>AdventPro-Thin.ttf</string>
		<string>AdventPro-ThinItalic.ttf</string>
		<string>AdventPro_Expanded-Black.ttf</string>
		<string>AdventPro_Expanded-BlackItalic.ttf</string>
		<string>AdventPro_Expanded-Bold.ttf</string>
		<string>AdventPro_Expanded-BoldItalic.ttf</string>
		<string>AdventPro_Expanded-ExtraBold.ttf</string>
		<string>AdventPro_Expanded-ExtraBoldItalic.ttf</string>
		<string>AdventPro_Expanded-ExtraLight.ttf</string>
		<string>AdventPro_Expanded-ExtraLightItalic.ttf</string>
		<string>AdventPro_Expanded-Italic.ttf</string>
		<string>AdventPro_Expanded-Light.ttf</string>
		<string>AdventPro_Expanded-LightItalic.ttf</string>
		<string>AdventPro_Expanded-Medium.ttf</string>
		<string>AdventPro_Expanded-MediumItalic.ttf</string>
		<string>AdventPro_Expanded-Regular.ttf</string>
		<string>AdventPro_Expanded-SemiBold.ttf</string>
		<string>AdventPro_Expanded-SemiBoldItalic.ttf</string>
		<string>AdventPro_Expanded-Thin.ttf</string>
		<string>AdventPro_Expanded-ThinItalic.ttf</string>
		<string>AdventPro_ExtraExpanded-Black.ttf</string>
		<string>AdventPro_ExtraExpanded-BlackItalic.ttf</string>
		<string>AdventPro_ExtraExpanded-Bold.ttf</string>
		<string>AdventPro_ExtraExpanded-BoldItalic.ttf</string>
		<string>AdventPro_ExtraExpanded-ExtraBold.ttf</string>
		<string>AdventPro_ExtraExpanded-ExtraBoldItalic.ttf</string>
		<string>AdventPro_ExtraExpanded-ExtraLight.ttf</string>
		<string>AdventPro_ExtraExpanded-ExtraLightItalic.ttf</string>
		<string>AdventPro_ExtraExpanded-Italic.ttf</string>
		<string>AdventPro_ExtraExpanded-Light.ttf</string>
		<string>AdventPro_ExtraExpanded-LightItalic.ttf</string>
		<string>AdventPro_ExtraExpanded-Medium.ttf</string>
		<string>AdventPro_ExtraExpanded-MediumItalic.ttf</string>
		<string>AdventPro_ExtraExpanded-Regular.ttf</string>
		<string>AdventPro_ExtraExpanded-SemiBold.ttf</string>
		<string>AdventPro_ExtraExpanded-SemiBoldItalic.ttf</string>
		<string>AdventPro_ExtraExpanded-Thin.ttf</string>
		<string>AdventPro_ExtraExpanded-ThinItalic.ttf</string>
		<string>AdventPro_SemiExpanded-Black.ttf</string>
		<string>AdventPro_SemiExpanded-BlackItalic.ttf</string>
		<string>AdventPro_SemiExpanded-Bold.ttf</string>
		<string>AdventPro_SemiExpanded-BoldItalic.ttf</string>
		<string>AdventPro_SemiExpanded-ExtraBold.ttf</string>
		<string>AdventPro_SemiExpanded-ExtraBoldItalic.ttf</string>
		<string>AdventPro_SemiExpanded-ExtraLight.ttf</string>
		<string>AdventPro_SemiExpanded-ExtraLightItalic.ttf</string>
		<string>AdventPro_SemiExpanded-Italic.ttf</string>
		<string>AdventPro_SemiExpanded-Light.ttf</string>
		<string>AdventPro_SemiExpanded-LightItalic.ttf</string>
		<string>AdventPro_SemiExpanded-Medium.ttf</string>
		<string>AdventPro_SemiExpanded-MediumItalic.ttf</string>
		<string>AdventPro_SemiExpanded-Regular.ttf</string>
		<string>AdventPro_SemiExpanded-SemiBold.ttf</string>
		<string>AdventPro_SemiExpanded-SemiBoldItalic.ttf</string>
		<string>AdventPro_SemiExpanded-Thin.ttf</string>
		<string>AdventPro_SemiExpanded-ThinItalic.ttf</string>
		<string>AdventPro_UltraExpanded-Black.ttf</string>
		<string>AdventPro_UltraExpanded-BlackItalic.ttf</string>
		<string>AdventPro_UltraExpanded-Bold.ttf</string>
		<string>AdventPro_UltraExpanded-BoldItalic.ttf</string>
		<string>AdventPro_UltraExpanded-ExtraBold.ttf</string>
		<string>AdventPro_UltraExpanded-ExtraBoldItalic.ttf</string>
		<string>AdventPro_UltraExpanded-ExtraLight.ttf</string>
		<string>AdventPro_UltraExpanded-ExtraLightItalic.ttf</string>
		<string>AdventPro_UltraExpanded-Italic.ttf</string>
		<string>AdventPro_UltraExpanded-Light.ttf</string>
		<string>AdventPro_UltraExpanded-LightItalic.ttf</string>
		<string>AdventPro_UltraExpanded-Medium.ttf</string>
		<string>AdventPro_UltraExpanded-MediumItalic.ttf</string>
		<string>AdventPro_UltraExpanded-Regular.ttf</string>
		<string>AdventPro_UltraExpanded-SemiBold.ttf</string>
		<string>AdventPro_UltraExpanded-SemiBoldItalic.ttf</string>
		<string>AdventPro_UltraExpanded-Thin.ttf</string>
		<string>AdventPro_UltraExpanded-ThinItalic.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
